:Host {
  display: flex;
  align-items: center;
}

.avatar {
  height: 1.9em;
  width: 1.9em;
  border-radius: 100%;
  margin-right: .5em;
}

.name {
  font-family: var(--heading-font);
  margin-right: 1em;
}

.settings {
  margin-right: .5em;
}
