label, button {
  margin: 1em 1em 0;
  display: block;
}

input, select, textarea {
  margin-left: 1em;
}

textarea {
  font-family: var(--mono-font);
  font-size: .8em;
  margin-left: calc(1em / .8);
}
