:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  border: 1px solid black;
}

.list-title {
  margin-left: .2631578947em;
}

.new-show {
  margin: .75em;
}

.show {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid var(--foreground-color);
  display: flex;
  align-items: center;
  padding: .5em;
}

.show:last-of-type {
  margin-bottom: auto;
  border-bottom: 1px solid var(--foreground-color);
}

.show:hover {
  background: var(--alt-background-color);
}

.art {
  margin-right: .5em;
  width: 4em;
  height: 4em;
  min-width: 4em;
  object-fit: cover;
}

.summary {
  white-space: nowrap;
  overflow: hidden;
}

.title {
  text-overflow: ellipsis;
  font-family: var(--body-font);
  font-size: 1.4em;
}

.info {
  font-family: var(--heading-font);
  font-weight: 200;
  font-size: .8em;
  color: var(--alt-foreground-color);
}
