:Host {
  display: block;
}

.show-header {
  padding: .6em;
  display: flex;
  align-items: center;
}

.show-header button:first-of-type {
  margin-left: auto;
  margin-right: .5em;
}

.show-deets {
  padding: 0 .6em;
  display: flex;
}

.show-deets-list {
  padding: 0 .6em;
}

.show-deets-list li {
  margin-top: .5em;
  list-style: none;
}

.show-deets-list li:first-of-type {
  margin-top: 0;
}

.detail {
  font-family: var(--body-font);
  font-weight: 200;
}

.art {
  width: 12.5em;
  height: 12.5em;
  object-fit: cover;
}

.episodes-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: .6em;
}

.episodes {
  list-style: none;
}

.episode {
  padding: .6em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid var(--foreground-color);
}

.episode:last-of-type {
  border-bottom: 1px solid var(--foreground-color);
}

.episode-number {
  margin: 0 .5em;
  font-family: 'Roboto Mono Light for Powerline', monospace;
  font-size: 1.6em;
  font-weight: 200;
}

.episode-title {
  margin-right: .5em;
  font-family: var(--heading-font);
  font-size: 1.4em;
  font-weight: 400;
}

.episode-description {
  font-family: var(--heading-font);
  font-weight: 200;
  color: var(--alt-foreground-color);
}

.episode-summary {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: .5em;
}

.episode-audio {
  display: block;
  margin: .5em 0;
}

.episode-full-summary {
  font-family: var(--body-font);
  font-weight: 200;
}

.episode-full-summary ul,
.episode-full-summary ol {
  padding-left: 1em;
}

.episode-summary-title {
  margin-top: 1em;
  display: block;
  font-family: var(--heading-font);
  font-weight: 400;
}

.episode-created {
  display: block;
  margin-top: 1em;
  font-family: var(--heading-font);
  font-weight: 200;
  font-size: .8em;
}

.episode-edit {
  display: block;
  margin: .5em 0;
}

.expand {
  margin: .1em 0 .1em auto;
}
