<div class="show-header">
  <h2 class="title">{{show.title}}</h2>
  <button class="rss" (click)="rss()" >RSS</button>
  <button class="edit" (click)="edit()">Edit</button>
</div>

<img class="art" [src]="'/assets/' + show.art" alt="" />

<label>Category</label>
<span>{{show.category}}</span>

<div class="episodes-header">
  <h3>Episodes</h3>
  <button (click)="newEpisode()">New Episode</button>
</div>
<ol class="episodes">
  <li *ngFor="let ep of show.episodes" class="episode" [value]="ep.number">
    <span class="episode-number">{{ep.number}}</span>

    <section *ngIf="expandedEp !== ep" class="episode-summary">
      <span class="episode-title">{{ep.title}}</span>
      <span class="episode-description">{{ep.subtitle}}</span>
    </section>

    <div *ngIf="expandedEp === ep" class="episodes-details">
      <h1 class="episode-title">{{ep.title}}</h1>
      <span class="episode-description">{{ep.subtitle}}</span>
      <audio class="episode-audio" controls >
        <source [src]="ep | audioUrl" type="audio/mp3" >
      </audio>
      <span class="episode-summary-title">Show notes:</span>
      <div class="episode-full-summary" [innerHTML]="ep.summary"></div>
      <span class="episode-created">Date created: {{ep.dateCreated | datetimeString}}</span>
      <button class="episode-edit">Edit</button>
    </div>
    <button class="expand" (click)="toggleEpisode(ep)">+</button>

  </li>
</ol>
