<h2>{{model.title || 'New Show'}}</h2>

<form>
  <label for="title">
    Title:
    <input type="text" id="title">
  </label>

  <label for="slug">
    Slug:
    <input type="text" title="slug">
  </label>

  <label for="category">
    Category:
    <input type="text" id="category">
  </label>

  <label for="art">
    Art:
    <input type="text" id="art">
  </label>

  <label for="description">
    Description:
    <input type="text" id="description">
  </label>

  <label for="copyright">
    Copyright:
    <input type="text" id="copyright">
  </label>

  <label for="language">
    Language:
    <input type="text" id="language">
  </label>

  <label for="author">
    Author:
    <input type="text" id="author">
  </label>

  <button type="submit">Submit</button>
</form>
